/* =====================================================
 *
 * VARIABLES
 *
 * -----------------------------------------------------*/


$baseColor: #edf2f7;
$mainColor: #1f1f1f;



$fontFamily: "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
